body { 
  padding: 40px; 
  background: #fff7fb;
}

/* FONTS*/
.wide { 
  font-family: var(--font-unbounded);
}
.tall { 
  font-family: var(--font-bigshoulder); 
}
.body { 
  font-family: var(--font-dmsans); 
}
.fallback { 
  font-family: sans-serif; 
}


/* FONT SIZES*/
.w100 { 
  font-weight: 100; 
}
.w200 { 
  font-weight: 200; 
}
.w300 { 
  font-weight: 300; 
}
.w400 { 
  font-weight: 400; 
}
.w500 { 
  font-weight: 500; 
}
.w600 { 
  font-weight: 600; 
}
.w700 { 
  font-weight: 700; 
}
.w800 { 
  font-weight: 800; 
}
.w900 { 
  font-weight: 900; 
}

h1 {
  margin: 25 auto;
  font-family: sans-serif;
  font-size: 20px;
  color: #b0106a;
}

hr {
  border: 0;
  border-top: 1px solid #f7d9e8;
  margin: 2rem 0;
}

p {
  font-size: 28px;
  margin: 8px 0;
}